nav{
    background-color: blue;
    padding: 10px;
}

nav a{
    color: white;
    padding: 20px;
    display: block;
}

h1{
    color:darkblue;
}

img{
    height: auto;
    width: 150px;
    padding:2px;
    border: 1px solid black;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 10px;
}